.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 31px;
}

.academy__title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  color: $gray;
}

.academy__logo {
  display: block;
  width: 27px;
  height: 34px;

  fill: #666666;
}

@media (min-width: $tablet-width) {
  .academy {
    justify-content: flex-end;
    width: 162px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .academy__title {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .academy {
    width: 245px;
  }

  .academy__title {
    margin-right: 23px;
  }
}
