.additional__list {
  list-style: none;
  border-top: 1px solid $gray-lighter;
}

.additional__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $black-light;
  font-family: $default-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-bottom: 96px;
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
  }

  .additional__promo {
    margin-top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional__list {
    width: 895px;
  }
}
