.advantage__title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $default-font;
  color: $black-light;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage__item {
  position: relative;

  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $second-font;
  color: $gray;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $green;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.advantage__description {
  width: 200px;
  margin: 0;
  margin-left: 80px;
  padding: 0;
  padding-top: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $second-font;
}

.advantage__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.advantage__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantage__item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantage__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .advantage__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 708px;
  }

  .advantage__item {
    width: 324px;
    min-height: 283px;

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  .advantage__description {
    width: 245px;
    margin-left: 0;
    padding-top: 115px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantage__list {
    align-items: flex-start;
  }

  .advantage__item {
    width: 245px;
  }
}
