.advantage {
  outline: 2px dotted brown;

}


.advantage__title {
  color: $black-light;
  font-family: $default-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantage__item {
  color: $gray;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
