.button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: none;



}

/*
.button--xs {}

.button--small {}

.button--medium {}

.button--large {}
*/

.button--green {
  background-color: $green;
  color: $white;
  &:hover {
    cursor: pointer;
    background-color: #5eaa2f;
  }
  &:active {
    color: rgba(255,255,255, 0.3)
  }



}

.button--gray {
  background-color: $gray-light;
  color: $gray;
  &:hover {
    cursor: pointer;
    background-color: $gray-lighter;
    }

  &:active {
    color: rgba(0, 0, 0, 0.3)
  }

}
