.catalog__list {
  border-top: 1px solid $gray-lighter;


}



@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

    border-top: none;

  }


}


@media (min-width: $desktop-width) {
  .catalog__list {

    margin-bottom: 47px;

  }
}

