.data-list {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  list-style: none;
}

.data-list__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
}

.data-list__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $default-font;
  color: $black-light;
  text-transform: uppercase;
}

.data-list__input {
  flex-grow: 1;
  margin-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  font-family: $default-font;
  color: $gray;
  text-transform: uppercase;
}


.data-list__input--email,
.data-list__input--phone {
  margin-left: 11px;
}


@media (min-width: $tablet-width) {
  .data-list__item {
    margin-bottom: 20px;
  }

  .data-list__label {
    font-size: 20px;
    line-height: 20px;
  }

  .data-list__input {
    margin-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;

    font-size: 20px;
    line-height: 20px;
  }

  .data-list__input--email {
    padding-left: 19px;
  }

  .data-list__input--phone {
    margin-left: 15px;
    padding-left: 17px;
  }
}

@media (min-width: $desktop-width) {
  .data-list--owner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
  }

  .data-list__item--owner {
    width: 570px;
  }
}
