.example {
  padding: 0 20px;

  background-color: $gray-light;
}

.example__text-block {
  margin-bottom: 16px;
}

.example__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $default-font;
  color: $black-light;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $second-font;
  color: $gray;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.example__item {
  position: relative;

  margin-bottom: 37px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $second-font;
  color: $gray;
}

.example__value {
  width: 122px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $default-font;
  color: $black-light;
  text-transform: uppercase;

  border: 1px solid silver;
  border-radius: 3px;
}

.example__text {
  position: absolute;
  top: 47px;
  left: 18px;
  z-index: 2;

  max-width: 87px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: $second-font;

  background-color: $gray-light;
}

.example__cost {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $default-font;
  text-align: center;
  color: $black-light;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0 30px;

    background-color: $white;
    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    /*background-image: linear-gradient(to bottom, #ffffff 591px, #e5e5e5 591px);*/
  }


  .example__title {
    margin-top: 0;
    margin-bottom: 65px;
    padding-top: 15px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    max-width: 680px;
    margin-bottom: 54px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .example__specification {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__item {
    margin-right: 43px;
    margin-bottom: 53px;
  }

  .example__value {
    width: 162px;

    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  .example__text {
    top: 63px;
    left: 13px;

    max-width: 165px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  .example__text--weight {
    left: 28px;
  }

  .example__cost {
    max-width: 175px;
    padding-top: 5px;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: center;
    padding: 0 40px;

    background-color: $white;
    /*background-image: linear-gradient(to bottom, #ffffff 591px, #e5e5e5 591px);*/
    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__text-block {
    width: 550px;
  }

  .example__slider {
    width: 670px;
  }

  .example__title {
    margin-bottom: 147px;
    padding-top: 71px;
  }

  .example__description {
    max-width: 435px;
    margin-bottom: 68px;
  }

  .example__specification {
    flex-direction: column;
    justify-content: center;
  }


  .example__text {
    background-color: $gray-light;
  }

  .example__cost {
    min-width: 328px;
    margin-left: 0;

    text-align: left;
  }

  .example__money {
    margin-left: 58px;
  }
}
