.goods {
  border-bottom: 1px solid $gray-lighter;
}

.goods__title {
  margin: 0;
  padding: 15px 0;
  color: $black-light;
  font-family: $default-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.goods__specification {
  width: 100%;
  border-collapse: collapse;
}

.goods__value {
  color: $gray;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.goods__price {
  color: $gray;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
}

.goods__line {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.goods__button {
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .goods {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-right: 38px;
    padding-left: 38px;
    border: 1px solid $gray-light;
    border-top: 1px solid transparent;
  }

  .goods__title {
    font-size: 20px;
    line-height: 20px;
  }

  .goods__value,
  .goods__price {
    font-size: 16px;
    line-height: 20px;
  }

  .goods__button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $gray-light;
  }

  .goods__title {
    width: 160px;
  }

  .goods__specification {
    width: 285px;
  }

  .goods__button {
    width: 245px;
  }
}
