.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.page-header--background {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    display: block;
    background-image: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $green;
    width: 100%;
    min-height: 305px;
    content: "";
    z-index: -1;
  }
}

.page-header__logo {
  margin-top: 11px;
  margin-bottom: 13px;
}

/*NEW*/

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header--background {
    &::after {
      display: none;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding-top: 49px;
  }

  .page-header--background {
    &::after {
      display: block;
      top: 0;
      right: 1px;
      width: 50%;
      min-height: 694px;
      background-size: cover;
    }
  }
}
