
.page-footer--color {
  background-color: $gray-light;
}



@media (min-width: $tablet-width) {


  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 60px;

  }

  .footer-logo__link {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 48px;
    padding-bottom: 62px;
  }


}
