.page-header--background {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;

    display: block;
    width: 100%;
    min-height: 305px;

    background-color: $green;
    background-image: url("../img/index-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header--background {
    &::after {
      display: none;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding-top: 53px;
  }

  .page-header--background {
    &::after {
      top: 0;
      right: 1px;
      display: block;
      width: 50%;
      min-height: 696px;

      background-image: url("../img/index-background-desktop.png");
    }
  }
}
