@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: regular;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}





.product-card {

}

.product-card__photo {

}

.product-card__image {

}


.product-card__description {



}


.product-card__title {
  color: #111111;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;


}

.product-card__specification {

}


.product-card__field {
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;



}


.product-card__value {
  color: #444444;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;



}


.product-card__button {

}


