


.promo {


}

.promo__link {
  text-decoration: none;

}

.promo__offer {

  color: #ffffff;
  color: #000000; /*временно*/
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;



}
