.promo {
  min-width: 280px;
  /*min-height: 289px;*/

  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.promo__link {
  text-decoration: none;
}

.promo__offer {
  margin: 0;
  padding: 0;
  margin-right: 58px;
  margin-left: 58px;
  padding-top: 187px;
  padding-bottom: 42px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $white;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 100%;

    text-align: left;

    background-image: url("../img/gift-photo-tablet.jpg");
  }

  .promo__offer {
    width: 160px;
    margin-left: 424px;
    padding-top: 72px;
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    min-width: 0;

    text-align: center;

    background-image: url("../img/gift-photo-mobile@1x.jpg");
  }

  .promo__offer {
    margin: 0 43px;
    padding-top: 187px;
    padding-bottom: 40px;
    width: 164px;


    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: $second-font;
    color: $white;
  }
}
