.select-list {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  list-style: none;
}

.select-list__item {
  margin-bottom: 33px;
}

.select-list__label {
  color: $black-light;
  font-family: $default-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .select-list__label {
    font-size: 20px;
    line-height: 20px;
  }

  .select-list__input {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 20px;
    line-height: 20px;
  }
}
