.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $gray-lighter;
}

.site-list__item {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid $gray-lighter;
}

.site-list__link {
  font-family: $default-font;
  color: $black-light;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    border-bottom: 0;
  }

  .site-list__item {
    border-top: none;
  }

  .site-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    width: 610px;
  }

  .site-list__item {
    margin-left: 35px;
    padding-top: 23px;
    padding-bottom: 16px;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 24px;
  }

  .site-list__link--white {
    color: $white;
  }
}
