.slider {}

.slider__toggle {}

.slider__slides {}

.slider__item {}

.slider__image {}

.slider__control {}

.slider__button {
  color: $black-light;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
