@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: regular;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}












.slider {

}


.slider__toggle {

}


.slider__slides {

}

.slider__item {

}


.slider__image {

}

.slider__control {

}

.slider__button {
  color: #111111;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;



}

