$default-font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", sans-serif;
$green: #68b738;
$white: #ffffff;
$gray-dark: #222222;
$gray: #444444;
$gray-lighter: #ededed;
$gray-light: #f2f2f2;
$black-light: #111111;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
